body {
    margin: 0;
    padding: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD, #start {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: red;
}

.title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #startButton {
    font-size: 50px;
    border: 2px solid red;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: blue;
}

#scoreboard {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}